[submodule "argparse"]
	path = argparse
	url = https://github.com/hbristow/argparse.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "sdl2"]
	path = sdl2
	url = https://github.com/johnpatek/sdl2.git
[submodule "uWebSocketsCMake"]
	path = uWebSocketsCMake
	url = https://github.com/johnpatek/uWebSocketsCMake
