[submodule "json11"]
	path = json11
	url = git@github.com:johnpatek/json11.git
[submodule "capnproto"]
	path = capnproto
	url = https://github.com/capnproto/capnproto
[submodule "libuv"]
	path = libuv
	url = https://github.com/libuv/libuv
[submodule "uWebSockets"]
	path = uWebSockets
	url = https://github.com/johnpatek/uWebSockets.git
